sudo apt update 
sudo apt install git mysql-client -y
git clone -b vp-rem https//github/devopshydclub/vprofile-project.git
mysql -h ${rds-endpoint} -u ${dbuser} --password= ${password} accounts --ssl-mode=DISABLE < /home/ubuntu/mcpatral-project/src/main/resources/db_backup.sql